.d-flex {
  display: flex;
}
  
.justify-content-between {
  justify-content: space-between;
}

.m-1 {
  margin: 16px;
}

.my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mr-1 {
  margin-right: 16px;
}

.m-2 {
  margin: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mr-2 {
  margin-right: 8px;
}

.row {
  display: flex;
}